<div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">PERFIL COMENZAL</h4>
                </div>
            </div>
            </br>
            <div class="row">
                        
                    <div class="col-xs-6 col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Ubicacion</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                  <a href="#"> <img src="img/mapita.png"></img></a>
                                </div>   
                                 <div class="col-md-12">
                                    <h4>RESTAURANTE</h4>
                                    <h5>Dirección:</h5>
                                            <input type="text" name="direccion" value="Av. Jose Pardo 1295 - Miraflores"> <br>
                                   <br>
                                 </div>
                                 <div class="col-md-12">
                                     <h3>Categoria:</h3>
                                                <input type="checkbox" name="option1" value="Criollo"> Criollo<br>
                                                <input type="checkbox" name="option2" value="Marino"> Marino<br>
                                                <input type="checkbox" name="option3" value="Chifa"> Chifa<br>
                                                <input type="checkbox" name="option3" value="Vegetariana"> Vegetariana<br>
                                                <input type="checkbox" name="option3" value="Pastas"> Pastas<br>
                                     <br>           
                                 </div>
                                 <div class="col-md-12">
                                     <h4>Reseña:</h4>
                                     <textarea class="form-control" id="content"></textarea>           
                                 </div>
                            </div>
                        </div>   
                    </div>
                    <div class="col-xs-12 col-md-8">
                            <div class="row">
                              <h4 class="page-head-line">Agregar Menú del Día</h4>
                            </div>
                            <div class="row">
                                <div class="form-group has-success">
                                  <label class="col-sm-2 control-label">Fecha</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" id="success" value="12/05/2015" style="width:120px">
                                  </div>
                                 </div>
                            </div>
                            <div class="row">
                <div class="col-md-12">
                  <!-- Detalle de Pedidos -->
                  
                  <div class="panel panel-default">
                        <div class="panel-heading">
                         <button type="submit"  class="demo btn btn-primary btn-large" onclick="location.href='registro.html'" data-toggle="modal" href="#responsive">Pedidos del día</button>
                         <button type="submit"  class="demo btn btn-primary btn-large" onclick="location.href='registro.html'" data-toggle="modal" href="#responsive"> Historial de Menus</button>
                         <button type="submit"  class="demo btn btn-primary btn-large" onclick="location.href='registro.html'" data-toggle="modal" href="#responsive"> Cerrar recepcion de pedidos</button>
                        </div>
                    </div>    
                  
                    <div class="panel panel-default">
                        <div class="panel-heading">
                         Entradas
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            
                                            <th>Plato</th>
                                            <th>Precio</th>
                                            <th></th>
                                            <th></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody >
                                         <tr>                           
                        <td>Entrada1</td>            
                        <td>S/. 4.00</td>            
                        <td><a href="#">Editar</a></td>            
                        <td><a href="#">Quitar</a></td>            
                    </tr>                          
                    <tr>                           
                        <td>Entrada2</td>            
                        <td>S/. 4.00</td>            
                        <td><a href="#">Editar</a></td>            
                        <td><a href="#">Quitar</a></td>            
                    </tr>                          
                    <tr>                           
                        <td>Entrada3</td>            
                        <td>S/. 4.00</td>            
                        <td><a href="#">Editar</a></td>            
                        <td><a href="#">Quitar</a></td>            
                    </tr>                          
                    <tr>                           
                        <td>Entrada4</td>
                        <td>S/. 4.00</td>            
                        <td><a href="#">Editar</a></td>            
                        <td><a href="#">Quitar</a></td>            
                    </tr>               
                                    </tbody>
                                </table>
                                  <a href="#">Añadir Entrada</a>
                            </div>
                        </div>
                    </div>
                     <!-- End  Detalle Pedido -->
                     
                        <div class="panel panel-default">
                        <div class="panel-heading">
                         Segundos
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            
                                            <th>Plato</th>
                                            <th>Descripcion</th>
                                            <th>Precio</th>
                                            <th></th>
                                            <th></th>
                                            
                                        </tr>
                                    </thead>
                <tbody id="lunchs">
                         <%= render @lunches %>
                         
                 </tbody>
                                
                                 
                                </table>
                          <div class="well">
                        <%= link_to "New Lunch", new_lunch_path, remote: true, class: "btn btn-primary" %>
                      </div>
                      <div class="new-lunch">  
                      </div>       
                
                
                 </div>
                        </div>
                    </div>
                     
                      <%= render 'dialog' %>
                     
            <!--End detalle de segundos -->
              
                        <div class="panel panel-default">
                        <div class="panel-heading">
                         Refrescos
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th></th>
                                            <th></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                            <tr>                           
                        <td>Refresco1</td>            
                        <td>S/. 2.00</td>            
                        <td><a href="#">Editar</a></td>            
                        <td><a href="#">Quitar</a></td>            
                    </tr>                          
                    <tr>                           
                        <td>Refresco2</td>            
                        <td>S/. 2.00</td>            
                        <td><a href="#">Editar</a></td>            
                        <td><a href="#">Quitar</a></td>            
                    </tr>                          
                    <tr>                           
                        <td>Refresco3</td>            
                        <td>S/. 2.00</td>            
                        <td><a href="#">Editar</a></td>            
                        <td><a href="#">Quitar</a></td>            
                    </tr>                
                                    </tbody>
                                </table>
                              <a href="#">Añadir Refresco</a>    
                            </div>
                        </div>
                    </div>
            
        </div>
            </div>
            
                            
                    </div>
                        
            </div>
                  
        </div>
    </div>