

<div class="container">

  <h2>Products</h2>
  <div class="well">
    <%= link_to "New Lunch", new_lunch_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-customer"></div>

  <table id class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
     
     
    </tr>
    </thead>
    <tbody id="lunches">
    <%= render @lunches %>
    </tbody>
  </table>

  <%= render 'dialog' %>

</div>

